<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Seneca Online Bookstore</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="Navigation navbar navbar-expand-lg navbar-light fixed-top container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home", null)"><h1 class="mb-0">Seneca Bookstore</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pt-2 px-1">
                    <a class="nav-link" href="@Url.Action("Index", "Home", null)"><h4>Home</h4><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pt-2 px-1">
                    <a class="nav-link" href="@Url.Action("Index", "Books", null)"><h4>Books</h4></a>
                </li>
                <li class="nav-item pt-2 px-1">
                    <a class="nav-link" href="@Url.Action("Index", "Genres", null)"><h4>Genres</h4></a>
                </li>
                <li class="nav-item pt-2 px-1">
                    <a class="nav-link" href="@Url.Action("Index", "Authors", null)"><h4>Authors</h4></a>
                </li>
            </ul>
            
        </div>
    </nav>

    <div class="Render container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Seneca Online Bookstore</p>
        </footer>
    </div><!--/.Render-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script class="SortByScript">
        function SortBy() {
            window.location.href = document.getElementById("UrlList").value;
        }
    </script><!--/.SortByScript-->
    <script class="NavigationScript">
        $(document).ready(function () {
            var url = window.location;
            $('ul a[href="' + url + '"]').parent().addClass('active')
            $('ul a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        })
    </script><!---->
</body>
</html>
