@model IEnumerable<Bookstore.Models.Author>

@{
    ViewBag.Title = "Authors";
}

    <section class="Authors-Index">

        <article class="PageHead row pt-4">
            <div class="Left col-4 text-left">
                <h2 class="Header d-block align-self-start font-weight-bold mb-0 pb-0 text-light">Authors</h2><!--.Header/-->
                <p class="Map font-italic text-light my-0 py-0">
                    @Html.ActionLink("Home", "Index", "Home", null, null) /
                    Authors
                </p><!--/.Map-->
            </div><!--/.Left-->
            <div class="Right col-8 text-right">
                <div class="SearchBar d-inline-block pt-2 mr-1">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group">
                            @Html.TextBox("search", null, new { @class = "form-control text-dark", placeholder = "Search..." })
                            <div class="input-group-prepend">
                                <button class="btn btn-light  rounded-right hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div><!--/.SearchBar-->
                <select class="SortBy btn btn-outline-dark bg-white text-dark p-2 mb-1 ml-0" id="UrlList" onchange="SortBy()">
                    <option value="@Url.Action("Index", "Authors", null)">Sort by...</option>
                    <option value="@Url.Action("Index", "Authors", new { order = "AtoZ" })">Title (a-z)</option>
                    <option value="@Url.Action("Index", "Authors", new { order = "ZtoA" })">Title (z-a)</option>
                </select><!--/.SortBy-->
            </div><!--/.Right-->
        </article><!--/.PageHead-->
        <hr />

        <article class="PageBody row text-center px-4">
            @if (Model.FirstOrDefault() != null)
            {
                foreach (var item in Model)
                {
                    <a class="AuthorContainer mb-3 col-12 col-sm-6 col-lg-4 py-4 hvr-shrink" href="@Url.Action("ByAuthor", "Books", new { authorName = item.Name }, null)">
                        <h4 class="Author text-light">@item.Name</h4><!--.Author/-->
                    </a>
                    
                }
            }
            else
            {
                <h3 class="NotFound col mb-3">No Author Found...</h3><!--.NotFound/-->
            }
        </article><!--/.PageBody-->

    </section>