@model IEnumerable<Bookstore.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<!--PageHead-->
    <div class="row pt-4">
        <div class="col-4 text-left">
            <!--Header-->
            <h2 class="d-block align-self-start font-weight-bold mb-0 pb-0">Authors</h2>

            <!--Map-->
            <p class="map font-italic my-0 py-0">
                @Html.ActionLink("Home", "Index", "Home", null, null) /
                Authors
            </p>
        </div>
        <div class="col-8 text-right">
            <!--SearchBar-->
            <div class="d-inline-block align-self-start pt-2">
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        @Html.TextBox("search", null, new { @class = "form-control text-dark", placeholder = "Search Authors..." })
                        <div class="input-group-prepend">
                            <button class="btn btn-dark rounded hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }
            </div>

            <!--SortBy-->
            <select class="btn btn-outline-dark bg-white text-dark p-2 mb-1" id="UrlList" onchange="SortBy()">
                <option value="@Url.Action("ByAuthor", "Books", null)">Sort by...</option>
                <option value="@Url.Action("ByAuthor", "Books", new { order = "AtoZ" })">Title (a-z)</option>
                <option value="@Url.Action("ByAuthor", "Books", new { order = "ZtoA" })">Title (z-a)</option>
            </select>
            <script>
                function SortBy() {
                    window.location.href = document.getElementById("UrlList").value;
                }
            </script>
        </div>
    </div>


<hr />

<div class="row">
    @if (Model.FirstOrDefault() != null)
    {
        foreach (var item in Model)
        {
            <h5 class="mb-3 col-12 col-sm-6 col-lg-4">@Html.ActionLink(item.Name, "ByAuthor", "Books", new { authorName = item.Name }, null)</h5>
        }
    }
    else
    {
        <h3 class="col mb-3">No Author Found...</h3>
    }
</div>