@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "By Author";
    string silly = "";
    foreach (var item in Model)
    {
        silly = item.AuthorName;
    }
}

<h2>@silly Titles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Books/ByGenre?role=@item.GenreName"> @Html.DisplayFor(modelItem => item.Genre.Name) </a>
        </td>
        <td>
            <a href="/Books/ByISBN?role=@item.ISBN"> @Html.DisplayFor(modelItem => item.Title) </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
    </tr>
}

</table>
