@model Bookstore.ViewModels.ByAuthorViewModel

@{
    var authorName = Model.Author;
    ViewBag.Title = authorName;
}

    <section class="Books-ByAuthor">

        <article class="PageHead row pt-4">
            <div class="Left col-6 text-left">
                <h2 class="Header d-block align-self-start font-weight-bold mb-0 pb-0">
                    @authorName
                </h2><!--/.Header-->

                <p class="Map font-italic my-0 py-0">
                    @Html.ActionLink("Home", "Index", "Home", null, null) /
                    @Html.ActionLink("Authors", "Index", "Authors", null, null) /
                    @authorName
                </p><!--/.Map-->
            </div><!--/.Left-->
            <div class="Right col-6 text-right">
                <div class="SearchBar d-inline-block pt-2 mr-2">
                    @using (Html.BeginForm())
                    {
                        <div class="Inner input-group">
                            @Html.TextBox("searchKeyword", null, new { @class = "form-control text-dark", placeholder = "Search..." })
                            <div class="ButtonContainer input-group-prepend">
                                <button class="Button btn btn-light rounded-right hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button><!--.Button.-->
                            </div><!--/.ButtonContainer-->
                        </div><!--/.Inner-->
                    }
                </div><!--/.SearchBar-->

                <select class="SortBy btn btn-outline-dark bg-white text-dark p-2 mb-1" id="UrlList" onchange="SortBy()">
                    <option value="@Url.Action("ByAuthor", "Books", new { role = authorName })">Sort by...</option>
                    <option value="@Url.Action("ByAuthor", "Books", new { role = authorName, order = "AtoZ" })">Title (a-z)</option>
                    <option value="@Url.Action("ByAuthor", "Books", new { role = authorName, order = "ZtoA" })">Title (z-a)</option>
                </select><!--/.SortBy-->
            </div><!--/.Right-->
        </article><!--/.PageHead-->

        <hr /><!--Head/Body Divider-->

        <article class="PageBody row">
            @foreach (var card in Model.BookCards)//Print BooksIndexViewModel objects as Bootstrap Cards
            {
                <div class="CardContainer col-6 col-md-4 col-lg-3 col-xl-2 mb-4 d-flex align-items-stretch">
                    <div class="Card card w-100 bg-dark hvr-grow-rotate">
                        <a class="CardLink stretched-link card-link text-light" href="/Books/ByISBN?isbn=@card.ISBN">
                            <img class="CardImage card-img-top w-100" src="~/Images/@card.ImagePath" alt="Book cover" /><!--.CardImage/-->
                            <div class="CardBody card-body d-flex flex-column text-center">
                                <p class="Title card-title font-weight-bold p-0 m-0">@card.Title</p><!--.Title/-->
                                <p class="Author card-text p-0 m-0">@card.AuthorName</p><!--.Author/-->
                                <p class="Price card-text font-weight-bold p-0 m-0">£@card.Price</p><!--.Price.-->
                            </div><!--/.CardBody-->
                        </a><!--/.CardLink-->
                    </div><!--/.Card-->
                </div><!--/.CardContainer-->
            }
        </article><!--/.PageBody-->

    </section><!--/.Books-ByAuthor-->