@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "ByGenre";
    string silly = "";
    foreach (var item in Model)
    {
        silly = item.GenreName;
    }
}

<h2>@silly Titles</h2>

<table class="table">
    <tr>
        <th>
            Cover
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img style="height:30%;" src="~/Images/@item.ImagePath" />
        </td>
        <td>
            <a href="/Books/ByAuthor?role=@item.AuthorName"> @Html.DisplayFor(modelItem => item.AuthorName) </a>
        </td>
        <td>
            <a href="/Books/ByISBN?role=@item.ISBN"> @Html.DisplayFor(modelItem => item.Title) </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
    </tr>
}

</table>
