@model Bookstore.Models.Book

@{
    ViewBag.Title = Model.Title;

    var printTitle = Model.Title;
    if (Model.Title.Length > 20)
    {
        printTitle = printTitle.Substring(0, 20) + "...";
    }
}

<div class="d-flex pt-4 mb-2 pb-0 justify-content-between align-items-center"><!--PageHead-->
    <div class="align-self-start"><!--LeftColumn-->

        <h2 class="d-block font-weight-bold mb-0 pb-0"><!--BookName-->
            @printTitle
        </h2><!--/BookName-->

        <p class="map my-0 py-0"><!--BookAuthor-->
            by @Model.AuthorName
        </p><!--/BookAuthor-->

    </div><!--/LeftColumn-->
    <div><!--RightColumn-->

        <p class="map font-italic my-0 py-0 text-right"><!--MapByGenre-->
            @Html.ActionLink("Home", "Index", "Home", null, null) /
            @Html.ActionLink("Genres", "Index", "Genres", null, null) /
            @Html.ActionLink(Model.GenreName, "ByGenre", "Books", new { genreName = Model.GenreName }, null) /
            @printTitle
        </p><!--/MapByGenre-->

        <p class="map font-italic my-0 py-0 text-right"><!--MapByAuthor-->
            @Html.ActionLink("Home", "Index", "Home", null, null) /
            @Html.ActionLink("Authors", "Index", "Authors", null, null) /
            @Html.ActionLink(Model.AuthorName, "ByAuthor", "Books", new { authorName = Model.AuthorName }, null) /
            @printTitle
        </p><!--/MapByAuthor-->

    </div><!--/RightColumn-->
</div><!--/PageHead-->

<hr />

<dl class="dl-horizontal"><!--PageBody-->
    <div class="row"><!--Row-->
        <div class="col-4 pt-3 pb-4"><!--ImageContainer-->

            <img style="width:100%" src="~/Images/@Model.ImagePath" /><!--Image/-->

        </div><!--/ImageContainer-->
        <div class="col-8 pt-3"><!--Column-->
            <h4>@Html.DisplayFor(x => x.Title)</h4>
            <span class="lead mb-3"><!--Description-->
                @Html.DisplayFor(model => model.Description)
            </span><!--Description-->

            <div class="row mt-4" style="font-family:Merriweather;"><!--NestedRow-->
                <div class="col-4">
                    <dt> Author </dt>
                    <dd> @Html.DisplayFor(model => model.AuthorName)</dd>

                    <dt> Genre </dt>
                    <dd> @Html.ActionLink(Model.GenreName, "ByGenre", "Books", new { genreName = Model.GenreName }, null) </a> </dd>

                    <dt> Publisher </dt>
                    <dd> @Html.DisplayFor(model => model.Publisher) </dd>

                    <dt> Format </dt>
                    <dd> @Html.DisplayFor(model => model.Format) </dd>
                </div>
                <div class="col-4 offset-1">
                    <dt> Price </dt>
                    <dd> @Html.DisplayFor(model => model.Price) </dd>

                    <dt> Pages </dt>
                    <dd> @Html.DisplayFor(model => model.NumberOfPages) </dd>

                    <dt> Weight</dt>
                    <dd> @Html.DisplayFor(model => model.WeightInGrams)g </dd>

                    <dt> Dimensions</dt>
                    <dd> @Html.DisplayFor(model => model.HeightInMm) x @Html.DisplayFor(model => model.WidthInMm) mm </dd>
                </div>
                <div class="d-inline-block mt-auto ml-auto"><!--Column:PurchaseButton-->
                    <input type="button" value="Purchase" 
                        class="btn-dark font-weight-bold text-uppercase text-black py-2 px-3 hvr-grow rounded" /><!--Button:Purchase/-->
                </div><!--/Column:PurchaseButton-->
            </div><!--/NestedRow-->

            
                
            
            
        </div><!--/Column-->
        
    </div><!--/Row-->
</dl><!--/PageBody-->
