@model List<Bookstore.ViewModels.GenreViewModel>

@{
    ViewBag.Title = "Genres";
}

<section class="Genres-Index">
    
    <article class="PageHead row pt-4">
        <div class="Left col-4 text-left">
            <h2 class="Header d-block align-self-start font-weight-bold mb-0 pb-0 text-light">Genres</h2><!--.Header/-->
            <p class="Map font-italic text-light my-0 py-0">
                @Html.ActionLink("Home", "Index", "Home", null, null) / 
                Genres
            </p><!--/.Map-->
        </div><!--/.Left-->
        <div class="Right col-8 text-right">
            <div class="SearchBar d-inline-block pt-2 mr-1">
                @using (Html.BeginForm())
                {
                    <div class="input-group">
                        @Html.TextBox("search", null, new { @class = "form-control text-dark", placeholder = "Search..." })
                        <div class="input-group-prepend">
                            <button class="btn btn-light hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }
            </div><!--/.SearchBar-->
            <select class="SortBy btn btn-outline-dark bg-white text-dark p-2 mb-1 ml-0" id="UrlList" onchange="SortBy()">
                <option value="@Url.Action("Index", "Genres", null)">Sort by...</option>
                <option value="@Url.Action("Index", "Genres", new { order = "AtoZ" })">Title (a-z)</option>
                <option value="@Url.Action("Index", "Genres", new { order = "ZtoA" })">Title (z-a)</option>
            </select><!--/.SortBy-->
        </div><!--/.Right-->
    </article><!--/.PageHead-->

    <hr />

    <article class="PageBody row">
        @if (Model.FirstOrDefault() != null)
        {
            foreach (var genre in Model)
            {
                <a class="OtherGenreLink hvr-shrink col-6" href="@Url.Action("ByGenre", "Books", new { genreName = genre.Name })">
                    <div class="OtherGenre d-flex align-items-center justify-content-center rounded @genre.ImageClass">
                        <h3 class="Name font-weight-bold">@genre.Name</h3>
                    </div><!--/.OtherGenre-->
                </a><!--/.OtherGenreLink-->
            }
        }
        else
        {
            <h3 class="NotFound col mb-3">No Genre Found...</h3><!--.NotFound/-->
        }
    </article><!--/.Body-->

</section><!--/.GenresIndex-->