@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <!-- TODO: STYLE THE HEADER BETTER -->

    <h1 class="text-center mt-0" style="font-family:'Abril Fatface'"><b>Featured Titles</b></h1> <br />
    <div class="row">

        <!-- TODO: MAKE THESE LINKS -->
        <!-- TODO: GET THE IMAGE URLs FROM THE DATABASE: NOT HARD-CODED -->

        <div class="col-xs-3">
            <a href="/Books/ByISBN?role=9781409176909">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781409176909.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="/Books/ByISBN?role=9780571334650">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780571334650.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="/Books/ByISBN?role=9781509858637">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781509858637.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="/Books/ByISBN?role=9781781257937">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781781257937.PNG" />
            </a>
        </div>
    </div>
</div>

<!--TODO: Make Sections Responsive-->
<!--SECTION: PHILOSOPHY-->
<!--TODO: Use Bootstrap Class instead of [style="margin-bottom:3em]-->
<div class="row">
    <div class="col-xs-12">
        <h4>@Html.ActionLink("Philosophy", "ByGenre", "Books", new { role = "Philosophy" }, null)</h4>
        <div class="row" style="margin-bottom:3em;">
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9780141018829">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780141018829.PNG" />
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9780141192352">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780141192352.PNG" />
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9781781257654">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781781257654.PNG" />
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9781784704254">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781784704254.PNG" />
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9781788163002">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781788163002.PNG" />
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/Books/ByISBN?role=9780140449464">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780140449464.PNG" />
                </a>
            </div>
        </div>
    </div>
</div>

<!--SECTION: BUSINESS, FINANCE & LAW-->
    <div class="row">
        
        <div class="col-xs-12">
            <h4>@Html.ActionLink("Business, Finance & Law", "ByGenre", "Books", new { role = "Business, Finance & Law" }, null)</h4>
            <div class="row" style="margin-top:1em; margin-bottom:3em;">
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9780753555200">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780753555200.PNG" />
                    </a>
                </div>
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9780857080097">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780857080097.PNG" />
                    </a>
                </div>
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9781473637498">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781473637498.PNG" />
                    </a>
                </div>
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9781781257937">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781781257937.PNG" />
                    </a>
                </div>
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9781786896070">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781786896070.PNG" />
                    </a>
                </div>
                <div class="col-xs-2 bg-dark">
                    <a href="/Books/ByISBN?role=9781509841141">
                        <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781509841141.PNG" />
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--SECTION: CRIME & MYSTERY-->
<div class="row">
    <div class="col-xs-12">
        <h4>@Html.ActionLink("Crime & Mystery", "ByGenre", "Books", new { role = "Crime & Mystery" }, null)</h4>
        <div class="row" style="margin-top:1em; margin-bottom:3em;">
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9780712352048">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780712352048.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781409176909">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781409176909.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781472205643">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781472205643.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781784160289">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781784160289.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781784704780">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781784704780.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781787472594">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781787472594.PNG" />
                </a>
            </div>
        </div>
    </div>
</div>

<!--SECTION: PSYCHOLOGY-->
<div class="row">
    <div class="col-xs-12">
        <h4>@Html.ActionLink("Psychology", "ByGenre", "Books", new { role = "Psychology" }, null)</h4>
        <div class="row" style="margin-top:1em; margin-bottom:3em;">
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9780008226299">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780008226299.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9780141033570">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780141033570.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9780141983769">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780141983769.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9780415922227">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780415922227.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781408878729">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781408878729.PNG" />
                </a>
            </div>
            <div class="col-xs-2 bg-dark">
                <a href="/Books/ByISBN?role=9781844132393">
                    <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781844132393.PNG" />
                </a>
            </div>
        </div>
    </div>
</div>

<!-- OTHER GENRES -->
<div>
    <!--TODO: Style This Link Better-->
    <h4>Other Genres</h4>

    @Html.ActionLink("Fantasy", "ByGenre", "Books", new { role = "Fantasy" }, null) <br />
    @Html.ActionLink("Health & Lifestyle", "ByGenre", "Books", new { role = "Health & Lifestyle" }, null) <br />
    @Html.ActionLink("Personal Improvement", "ByGenre", "Books", new { role = "Personal Improvement" }, null) <br />
    @Html.ActionLink("Romance", "ByGenre", "Books", new { role = "Romance" }, null) <br />

</div>