@model Bookstore.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<section class="Home-Index">

    <article class="PageHead d-flex justify-content-between align-items-center">

        <h3 class="Header d-block text-light font-weight-bold align-self-start">
            Featured Titles
        </h3><!--/.Header-->

        <div class="SearchBar d-inline-block align-self-start mr-3">
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    @Html.TextBox("searchKeyword", null, new { @class = "form-control text-dark ", placeholder = "Search Titles..." })
                    <div class="input-group-prepend">
                        <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }
        </div><!--/.SearchBar-->

    </article><!--/.PageHead-->

    <article class="FeaturedTitles">
        <div class="row">
            @foreach (var item in Model.Featured)
            {
                <div class="FeaturedTitle col-6 col-md-3">
                    <a class="LinkToBookPage" href="/Books/ByISBN?isbn=@item.ISBN">
                        <img class="BookCover hvr-buzz-out w-100 mb-3" src="~/Images/@item.ImagePath" /><!--.BookCover/-->
                    </a><!--/.LinkToBookPage-->
                </div><!--/.FeaturedTitle-->
            }
        </div><!--/row-->
    </article><!--/.FeaturedTitles-->


    @foreach (var sect in Model.Sections)
    {
        <article class="SectionByGenre row my-0">
            <div class="OuterColumn col-12">
                <div class="SectionHead  @sect.ImageClass d-flex justify-content-between align-items-center">
                    <h4 class="Header m-0 text-light">@sect.Title</h4><!--.Header/-->
                    <input type="button" class="ButtonToGenre btn btn-outline-light font-weight-bold rounded mt-auto mt-auto" value="See More"
                            onclick="window.location='@Url.Action("ByGenre", "Books", new { genreName = sect.Title })'" /><!--.ButtonToGenre/-->
                </div><!--/.SectionHead-->

                <div class="SectionBody row mt-4">
                    @foreach (var card in sect.BookCards)
                    {
                        <div class="CardContainer col-6 col-md-4 col-lg-3 col-xl-2 mb-4 d-flex align-items-stretch">
                            <div class="Card card w-100 bg-light hvr-shrink">
                                <a class="CardLink stretched-link card-link text-dark" href="/Books/ByISBN?isbn=@card.ISBN">

                                    <img class="CardImage card-img-top w-100" src="~/Images/@card.ImagePath" alt="Book cover" /><!--.CardImage/-->

                                    <div class="CardBody card-body d-flex flex-column text-center">
                                        <p class="Title card-title font-weight-bold p-0 m-0">@card.Title</p><!--.Title/-->
                                        <p class="Author card-text p-0 m-0">@card.AuthorName</p><!--.Author/-->
                                        <p class="Price card-text font-weight-bold p-0 m-0">£@card.Price</p><!--.Price.-->
                                    </div><!--/.CardBody-->

                                </a><!--/.CardLink-->
                            </div><!--/.Card-->
                        </div><!--/.CardContainer-->
                    }
                </div><!--/.SectionBody-->
            </div><!--/.OuterColumn-->
        </article><!--/.SectionByGenre-->
    }

    <article class="OtherGenres mt-4">
        <div class="SectionHead d-flex justify-content-between align-items-center">
            <h4 class="Header pl-3 m-0 text-light">Other Genres</h4><!--.Header/-->
            <input type="button" class="ButtonToGenre btn btn-outline-light font-weight-bold rounded mt-auto mr-3" value="See More"
                            onclick="window.location='@Url.Action("Index", "Genres", null)'" /><!--.ButtonToGenres/-->
        </div><!--/.SectionHead-->
        <div class="OthersRow row w-100">
            @foreach (var genre in Model.OtherGenres)
            {
                <a class="OtherGenreLink col-6" href="@Url.Action("ByGenre", "Books", new { genreName = genre.Name })">
                    <div class="OtherGenre d-flex align-items-center justify-content-center rounded @genre.ImageClass">
                        <h3 class="Name font-weight-bold">@genre.Name</h3>
                    </div><!--/.OtherGenre-->
                </a><!--/.OtherGenreLink-->
            }
        </div><!--/.OthersRow-->
</article><!--/.OtherGenres-->

</section><!--/.HomeIndex-->

@section scripts {
    <script>
        $(".OtherGenreLink").hover(function () {
            $(".OtherGenre").toggleClass("hvr-buzz-out");
        });
    </script>
    }
