@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "Home Page";

    Bookstore.Models.Book[][] genres = new Bookstore.Models.Book[5][];


    genres[0] = Model.Take(4).ToArray();
    genres[1] = Model.Where(x => x.GenreName == "Philosophy").Take(6).ToArray();
    genres[2] = Model.Where(x => x.GenreName == "Business, Finance and Law").Take(6).ToArray();
    genres[3] = Model.Where(x => x.GenreName == "Crime and Mystery").Take(6).ToArray();
    genres[4] = Model.Where(x => x.GenreName == "Psychology").Take(6).ToArray();
}

<div class="container bg-light">

<!-- Featured Titles (4) -->
    <div class="jumbotron pt-5 pb-0">
        <h1 class="text-center mt-0"><b>Featured Titles</b></h1> <br />
        <div class="row">
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-6 col-md-3">
                    <a href="/Books/ByISBN?role=@genres[0][i].ISBN">
                        <img class="hvr-grow-shadow w-100 mb-5" src="~/Images/@genres[0][i].ImagePath" />
                    </a>
                </div>
            }
        </div>
    </div> <hr/>

<!-- Sections by Genre -->
    @for (int x = 1; x < 5; x++)
    {
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center py-1">
                    <h4 class="my-0">@genres[x][0].GenreName</h4>
                    <!-- TODO: Make this a Functional Button-->
                    <input type="button" class="btn btn-warning text-center font-weight-bold py-1" value="See More" onclick="window.location='@Url.Action("ByGenre", "Books", new {role = genres[x][0].GenreName})'" />
                </div>
                <div class="row mt-3">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="mb-3 col-6 col-sm-4 col-md-2">
                            <a href="/Books/ByISBN?role=@genres[x][i].ISBN">
                                <img class="hvr-grow-shadow w-100 h-100" src="~/Images/@genres[x][i].ImagePath" />
                            </a>
                        </div>
                    }
                </div>
                <hr />
            </div>
        </div>
    }
    
    
<!-- Other Genres -->
    <div>
        <h3>Other Genres</h3>
        <h5>
            <div class="d-flex justify-content-between">
                @Html.ActionLink("Fantasy", "ByGenre", "Books", new { role = "Fantasy" }, null)
                @Html.ActionLink("Health and Lifestyle", "ByGenre", "Books", new { role = "Health and Lifestyle" }, null)
                @Html.ActionLink("Self-Help", "ByGenre", "Books", new { role = "Self-Help" }, null)
                @Html.ActionLink("Romance", "ByGenre", "Books", new { role = "Romance" }, null)
            </div>
        </h5>
    </div>
</div>