@model Bookstore.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex pt-4 mb-0 pb-0 justify-content-between align-items-center"><!--PageHead-->

    <h2 class="d-block align-self-end font-weight-bold mb-0 pb-0"><!--Header-->
        Featured Titles
    </h2><!--/Header-->

    <div class="d-inline-block align-self-start"><!--SearchBar-->
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("searchKeyword", null, new { @class = "form-control text-dark ", placeholder = "Search Titles..." })
                <div class="input-group-prepend">
                    <button class="btn btn-dark rounded hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        }
    </div><!--/SearchBar-->

</div><!--/PageHead-->

<hr/>

<div class="container"><!--PageBody-->

    
    <div class="jumbotron pt-2 pb-0 w-100"><!--FeaturedTitles-->
        <div class="row"><!--FeaturedContainer-->
            @foreach (var item in Model.Featured)
            {
                <div class="col-6 col-md-3"><!--FeaturedTitle-->
                    <a href="/Books/ByIN?isbn=@item.ISBN"><!--Link-->
                        <img class="hvr-grow-shadow w-100 mb-3" src="~/Images/@item.ImagePath" /><!--Image-->
                    </a><!--/Link-->
                </div><!--/FeaturedTitle-->
            }
        </div><!--/Row-->
    </div><!--/FeaturedTitles-->

    
    @foreach (var sect in Model.Sections)
    {
        <div class="row my-5"><!--SectionByGenre-->
            <div class="col-12"><!--Column-->
                <div class="d-flex justify-content-between align-items-center pt-1"><!--SectionHead-->

                    <h4 class="mb-0"><!--Header-->
                        @sect.Title
                    </h4><!--/Header-->

                    <input type="button" class="btn btn-dark rounded hvr-grow-shadow mb-0 mt-auto" value="See More" 
                           onclick="window.location='@Url.Action("ByGenre", "Books", new { genreName = sect.Title })'" /><!--ButtonToGenre/-->

                </div><!--/SectionHead-->

                <hr />

                <div class="row mt-3"><!--SectionBody-->
                    @foreach (var card in sect.BookCards)
                    {
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4 d-flex align-items-stretch"><!--CardContainer-->
                            <div class="card w-100 bg-light hvr-grow-rotate"><!--Card-->
                                <a class="stretched-link card-link text-dark" href="/Books/ByISBN?isbn=@card.ISBN"><!--Link-->
                                    
                                    <img class="card-img-top w-100" src="~/Images/@card.ImagePath" alt="Book cover" /><!--CardImage/-->
                                    
                                    <div class="card-body d-flex flex-column text-center"><!--CardBody-->
                                        <p class="card-title font-weight-bold p-0 m-0"><!--CardTitle-->
                                            @card.Title
                                        </p><!--/CardTitle-->

                                        <p class="card-text p-0 m-0"><!--CardText:AuthorName-->
                                            @card.AuthorName
                                        </p><!--/CardText:AuthorName-->

                                        <p class="card-text font-weight-bold p-0 m-0"><!--CardText:Price-->
                                            £@card.Price
                                        </p><!--/CardText:Price-->
                                    </div><!--/CardBody-->

                                </a><!--/Link-->
                            </div><!--/Card-->
                        </div><!--/CardContainer-->
                    }
                </div><!--/SectionBody-->
            </div><!--/Column-->
        </div><!--/SectionByGenre-->
    }

    <div class="row"><!--Other Genres-->
        <h4 class="col-12 mb-3">Other Genres</h4><hr />
            
        @foreach (var genre in Model.OtherGenres)
        {
            @Html.ActionLink(genre, "ByGenre", "Books", new { role = genre }, new { id = "otherGenres", @class = "h5 mb-3 col-12 col-sm-6 col-lg-4 col-xl-3" })
        }
    </div><!--/OtherGenres-->
</div><!--/PageBody-->
