@model Bookstore.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<!--PageHead-->
<div class="d-flex pt-4 mb-0 pb-0 justify-content-between align-items-center">

    <!--Header-->
    <h2 class="d-block align-self-end font-weight-bold mb-0 pb-0">Featured Titles</h2>

    <!--SearchBar-->
    <div class="d-inline-block align-self-start">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("searchKeyword", null, new { @class = "form-control text-dark ", placeholder = "Search Titles..." })
                <div class="input-group-prepend">
                    <button class="btn btn-dark rounded hvr-grow-shadow" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        }
    </div>
</div>
<hr/>
    <div class="container bg-light">

        <!-- Featured Titles (4) -->
        <div class="jumbotron pt-2 pb-0">
            <div class="row">
                @foreach (var item in Model.Featured)
                {
                    <div class="col-6 col-md-3">
                        <a href="/Books/ByISBN?role=@item.ISBN">
                            <img class="hvr-grow-shadow w-100 mb-3" src="~/Images/@item.ImagePath" />
                        </a>
                    </div>
                }
            </div>
        </div>

        <!-- Sections by Genre -->
        @foreach (var sect in Model.Sections)
        {
            <div class="row my-5">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <h4 class="mb-0">@sect.Title</h4>
                        <input type="button" class="btn btn-warning text-center pt-1 hvr-grow-shadow" value="See More" onclick="window.location='@Url.Action("ByGenre", "Books", new { genreName = sect.Title })'" />
                    </div>
                    <hr />
                    <div class="row mt-3">
                        @foreach (var card in sect.BookCards)
                        {
                            <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4 d-flex align-items-stretch">
                                <div class="card w-100 bg-light hvr-grow-rotate">
                                    <a class="stretched-link card-link text-dark" href="/Books/ByISBN?role=@card.ISBN">
                                        <img class="card-img-top w-100" src="~/Images/@card.ImagePath" alt="Book cover" />
                                        <div class="card-body d-flex flex-column text-center">
                                            <p class="card-title font-weight-bold p-0 m-0">@card.Title</p>
                                            <p class="card-text p-0 m-0">@card.AuthorName</p>
                                            <p class="card-text font-weight-bold p-0 m-0">£@card.Price</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        <!-- Other Genres -->
        <div class="row">
            <h3 class="col-12 mb-3">Other Genres</h3>
            @foreach (var genre in Model.OtherGenres)
            {
                @Html.ActionLink(genre, "ByGenre", "Books", new { role = genre }, new { id = "otherGenres", @class = "h5 mb-3 col-12 col-sm-6 col-lg-4 col-xl-3" })
            }
        </div>
    </div>
